{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block cssblock %}
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger.css'/>
<link rel='stylesheet' href='{{ STATIC_URL }}css/messenger-theme-flat.css'/>
{% endblock %}
{% block javascriptblock %}
<script src='{{ STATIC_URL }}js/messenger.min.js'></script>
<script>
Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
    theme: 'flat'
}</script>
<script src="{{ STATIC_URL }}js/change_password.js"></script>
{% endblock %}

{% block body %}

{% include "_nav_bar.html" %}
<div class="container">
<ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">修改密码</li>
    </ol>
<div class="container col-md-offset-4 col-md-4">
    <form class="form-register" id="changepwd_form" action="/account/change_password/" method='POST'>
        {% csrf_token %}
        <div class="form-group">
            <label for="password1">原密码</label>
            <input type="password" class="form-control input-lg" id="old_password" name="old_password" maxlength=20
                   placeholder="请输入原密码">
        </div>
        <div class="form-group">
            <label for="password1">新密码</label>
            <input type="password" class="form-control input-lg" id="password1" name="password1" maxlength=20
                   placeholder="请输入新密码，不少于6位">
        </div>
        <div class="form-group">
            <label for="password2">确认密码</label>
            <input type="password" class="form-control input-lg" id="password2" name="password2" maxlength=20
                   placeholder="请确认密码">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block col-sm-4" id="changepwd_submit">提交</button>
        <a href="/login/">已有账号？点此登陆</a>
    </form>
</div>
</div>

{% endblock %}