{% extends "base.html" %}


{% block body %}

{% include "_nav_bar.html" %}

<div class="container">

    <div class="panel panel-default">

        <div class="panel-heading">我收到的消息</div>

        <ul class="list-group">
            {% if not unread_message_num %}
                <div class="alert alert-success">您没有未读消息！</div>
            {% else %}
                {% for item in unread_message %}
                <li class="list-group-item"><a href="/message/read_message/{{ item.id }}/">
                    【未读】{{ item.create_time|date:"Y-m-d H:i:s" }} -- {{ item.from_user }} -- {{ item.subject}}</a></li>
                {% endfor %}
            {% endif %}

        </ul>

    </div>
    {% if unread_message_num %}
        <ul class="pager">
            <li class="next"><a href="/message/received/1/">更多</a></li>
        </ul>
    {% endif %}

</div>

{% endblock %}