<div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td rowspan="2">name1</td>
            <td><a href="/forum/zone/1/page/1/">zone1</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td><a href="/forum/zone/2/page/1/">zone2</a></td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
          </tr>
          <tr>
            <td>name2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>name3</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>